<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.FaceRecognition">

    <uses-sdk />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_facerec"
        android:label="@string/tfe_od_app_name"
        android:roundIcon="@mipmap/ic_launcher_facerec_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ObjectDetection">
        <activity android:name=".EditFaceActivity"></activity>
        <activity android:name=".UserListActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.ObjectDetection.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".AttandanceListActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".FaceRecognitionScreenActivity" />
        <activity android:name=".RegisterActivity" /> <!-- </activity> -->
        <activity
            android:name=".DetectorActivity"
            android:label="@string/tfe_od_app_name"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.FaceRecognition"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>